Brian Holliday<br/>
Professor Li<br/>
Data Minning<br/>
13 February 2020

## Project 2

### Problem 1

In [3]:
exams <- read.csv('exam_scores_all(1)(1).csv', sep = ',', header = TRUE)

### Problem 2

lets check what type of columns we have and see if they are fit for computation

In [4]:
sapply(exams,class)

   Student     Exam.1     Exam.2     Exam.3 Final.Exam
  "factor"  "integer"   "factor"   "factor"   "factor"

we have four factor columns and one integer, change the exam columns to integers<br/>
lets read the data in again, taking out specific values in our factor colums using the na.stings argument

In [5]:
exams <- read.csv('exam_scores_all(1)(1).csv', sep = ',', header = TRUE, na.string = c('missed', 'NO SCORE', 'withdraw'))

In [18]:
sapply(exams,class)

   Student     Exam.1     Exam.2     Exam.3 Final.Exam
  "factor"  "integer"  "integer"  "integer"  "integer"

Now we have integer columns and factor columns in the right places

### Problem 3

lets fill in the null values for Exam 2<br/>
We will take the mean and median to see what fits best

In [6]:
mean(exams$Exam.2,na.rm = TRUE)

[1] 59.70787

In [7]:
median(exams$Exam.2,na.rm = TRUE)

[1] 64

In [8]:
sd(exams$Exam.2,na.rm = TRUE)

[1] 18.08704

Our data is skewed to the left.<br/>
We will use median to fill scores because of our significant standard deviation

In [9]:
exams$Exam.2[which(is.na(exams$Exam.2))] <- median(exams$Exam.2,na.rm
 = TRUE)

We have now replaced our null values with the median and we are ready to sample

In [10]:
exams$Exam.2

  [1] 82 71 34 88 44 37 38 74 64 67 74 64 32 83 39 93 64 85 66 52 65 42 60 44 56
 [26] 40 63 62 64 76 60 50 33 66 29 66 59 70 64 64 64 80  7 44 33 74 64 70 77 65
 [51] 77 82 53 67 77 71 64 73 25 59 56 75 32 69 20 94 64 73 65 37 49 54 50 66 77
 [76] 61 63 72 79 66 64 54 65 41 64 32 74 90 30 76 80 57 36 70 56 59 54 65 73 64
[101] 46

Lets get the mean of 20 samples

In [13]:
store_diff <- rep(0,20)

In [15]:
for (i in 1:20) {
 samp <- sample(seq(1,length(exams$Exam.2)),10, replace = TRUE)
 my_sample <-exams$Exam.2[samp]
 store_diff[i] <- mean(my_sample)
 }

In [16]:
mean(store_diff)

[1] 61.12

Now lets get the mean of 80 samples

In [18]:
store_diff2 <- rep(0,80)

In [19]:
for (i in 1:80) {
 samp <- sample(seq(1,length(exams$Exam.2)),10, replace = TRUE)
 my_sample <-exams$Exam.2[samp]
 store_diff2[i] <- mean(my_sample)
 }

In [20]:
mean(store_diff2)

[1] 60.35375

20 samples mean: 61.12<br/>
80 samples mean: 60.35375

### Problem 4

In [21]:
mean(exams$Exam.2)

[1] 60.21782

Difference of mean between regular mean and 20 samples

In [22]:
 abs(mean(exams$Exam.2) - mean(store_diff))

[1] 0.9021782

Lets get the percent difference for mean and 20 samples

In [34]:
(abs(mean(exams$Exam.2) - mean(store_diff)) / (mean(exams$Exam.2) + mean(store_diff))/2)*100

[1] 0.371763

We could sethat the percent difference between the mean and 20 samples is 0.37  percent<br/>
Therefore our 20 sample measure is pretty accurate

Let get the percent difference between mean and 80 samples

In [36]:
(abs(mean(exams$Exam.2) - mean(store_diff2)) / (mean(exams$Exam.2) +
mean(store_diff2))/2)*100

[1] 0.05636827

We could sethat the percent difference between the mean and 80 samples is 0.05  percent<br/>
Therefore our 80 sample measure is pretty accurate

### Problem 5

Lets replace our null values

In [39]:
exams$Exam.1[which(is.na(exams$Exam.1))] <- median(exams$Exam.1,na.rm
 = TRUE)

In [40]:
exams$Exam.3[which(is.na(exams$Exam.3))] <- median(exams$Exam.3,na.rm
 = TRUE)

In [42]:
exams$Final.Exam[which(is.na(exams$Final.Exam))] <- median(exams$Final.Exam,na.rm
 = TRUE)

In [43]:
cor(exams$Exam.1,exams$Exam.2,method = 'pearson')

[1] 0.6036033

In [44]:
cor(exams$Exam.1,exams$Exam.3,method = 'pearson')

[1] 0.6294733

In [45]:
cor(exams$Exam.1,exams$Final.Exam,method = 'pearson')

[1] 0.5447793

In [46]:
cor(exams$Exam.2,exams$Exam.1,method = 'pearson')

[1] 0.6036033

In [47]:
cor(exams$Exam.2,exams$Exam.3,method = 'pearson')

[1] 0.7903222

In [48]:
cor(exams$Exam.2,exams$Final.Exam,method = 'pearson')

[1] 0.6855521

In [49]:
cor(exams$Exam.3,exams$Exam.1,method = 'pearson')

[1] 0.6294733

In [51]:
cor(exams$Exam.3,exams$Exam.2,method = 'pearson')

[1] 0.7903222

In [52]:
cor(exams$Exam.3,exams$Final.Exam,method = 'pearson')

[1] 0.78891

In [53]:
cor(exams$Final.Exam,exams$Exam.1,method = 'pearson')

[1] 0.5447793

In [54]:
cor(exams$Final.Exam,exams$Exam.2,method = 'pearson')

[1] 0.6855521

In [55]:
cor(exams$Final.Exam,exams$Exam.3,method = 'pearson')

[1] 0.78891

In [56]:
results <- matrix(c(1.0,0.603,0.629,0.544,0.603,1.0,0.790,0.685,0.629
,0.790,1.0,0.788,0.544,0.685,0.788,1.0),ncol =4)

In [57]:
results

     [,1]  [,2]  [,3]  [,4]
[1,] 1.000 0.603 0.629 0.544
[2,] 0.603 1.000 0.790 0.685
[3,] 0.629 0.790 1.000 0.788
[4,] 0.544 0.685 0.788 1.000

In [59]:
rownames(results) <- c('Exam 1', 'Exam 2','Exam 3', 'Final Exam')

In [60]:
colnames(results) <- c('Exam 1', 'Exam 2','Exam 3', 'Final Exam')

In [61]:
results

           Exam 1 Exam 2 Exam 3 Final Exam
Exam 1     1.000  0.603  0.629  0.544
Exam 2     0.603  1.000  0.790  0.685
Exam 3     0.629  0.790  1.000  0.788
Final Exam 0.544  0.685  0.788  1.000

The results suggest that the correlation results are the same if done in reverse:<br/>
For example cor(a,b) == cor(b,a)