Brian Holliday<br/>
Professor Li<br/>
Intro to Data Mining<br/>
24 February 2020

## Project 3b

### Problem 3

In [1]:
exams <- read.csv('exam_scores_all(1)(1).csv', sep = ',', na.strings = c('NO SCORE', 'withdraw','missed'), header = TRUE)

In [2]:
head(exams,10)

   Student Exam.1 Exam.2 Exam.3 Final.Exam
1  S#1     76     82     89     95
2  S#2     65     71     58     54
3  S#3     61     34     37      0
4  S#4     71     88     86     83
5  S#5     42     44     53     38
6  S#6     54     37     58     53
7  S#7     50     38     30      0
8  S#8     90     74     90     92
9  S#9     57     64     70     62
10 S#10    69     67     65     38

Find the students in which their exams scores are in increasing order

Lets remove all rows with na values

In [3]:
exams <- na.omit(exams)

Now lets make all of the comparisons between the test to find the ones in increasing order

In [4]:
exam1 <- exams$Exam.1

In [5]:
exam2 <- exams$Exam.2

In [6]:
which(exam2 > exam1)

 [1]  1  2  4  5  9 11 12 14 16 17 19 21 22 23 25 26 28 30 32 35 38 39 41 42 44
[26] 46 47 48 49 50 51 54 55 56 58 62 63 66 67 69 70 73 74 76 77 79 80 82 83 85

In [7]:
exams1 <- exams[which(exam2 > exam1),c(1,2,3,4,5)]

In [8]:
exam2 <- exams1$Exam.2

In [9]:
exam3 <- exams1$Exam.3

In [10]:
exams2 <- exams1[which(exam3 > exam2),c(1,2,3,4,5)]

In [11]:
exam3 <- exams2$Exam.3

In [12]:
final <- exams2$Final.Exam

In [13]:
length(final)

[1] 18

In [14]:
length(exam3)

[1] 18

In [15]:
which(final>exam3)

[1]  1  4  6  9 13 14 15

now we have a list of exam scores in which the exam scores increased

In [16]:
exams2[which(final>exam3),c(1,2,3,4,5)]

   Student Exam.1 Exam.2 Exam.3 Final.Exam
1  S#1     76     82     89     95
16 S#16    82     93     94     99
24 S#24    37     44     49     54
58 S#58    49     73     78     86
75 S#75    70     77     84     88
83 S#83    57     65     72     74
90 S#90    62     76     78     83

In [17]:
ascending_list <- c(1,16,24,58,75,83,90)

Lets read in the file again

In [18]:
exams <- read.csv('exam_scores_all(1)(1).csv', sep = ',', na.strings = c('NO SCORE', 'withdraw','missed'), header = TRUE)

In [19]:
exams[ascending_list,]

   Student Exam.1 Exam.2 Exam.3 Final.Exam
1  S#1     76     82     89     95
16 S#16    82     93     94     99
24 S#24    37     44     49     54
58 S#58    49     73     78     86
75 S#75    70     77     84     88
83 S#83    57     65     72     74
90 S#90    62     76     78     83

Now we have identified the students that did better with each test